<mat-toolbar class="max-w-7x1 mx-auto border-x justify-between">
  <a routerLink="home">Code with Cida Luna Store</a>
  <button mat-icon-button [matMenuTriggerFor]="menuRef">
    <mat-icon [matBadge]="1" matBadgeColor="warn">
      shopping_cart
    </mat-icon>
  </button>
  <mat-menu #menuRef="matMenu">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16">1 Items</span>
        <a routerLink="cart">View cart</a>
      </div>
      <div class="flex justify-between font-light mb-2">
        keyboard x 1
        <span class="font-bold">
          {{ '150' | currency }}
        </span>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
