<mat-toolbar class="max-w-7x1 mx-auto border-x justify-between">
  <a routerLink="home">Code with Cida Luna Store</a>
  <button mat-icon-button [matMenuTriggerFor]="menuRef">
    <mat-icon [matBadge]="3" matBadgeColor="warn">
      shopping_cart
    </mat-icon>
  </button>
  <mat-menu #menuRef="matMenu">
    <div class="p-3 divide-y divide-solid">
      <div class="pb-3 flex justify-between">
        <span class="mr-16">3 Items</span>
        <a routerLink="cart">View cart</a>
      </div>
      <div class="flex justify-between font-light mb-2">
        keyboard x 1
        <span class="font-bold">
          {{ '150' | currency }}
        </span>
      </div>
      <div class="flex justify-between font-light mb-2">
        keyboard x 1
        <span class="font-bold">
          {{ '150' | currency }}
        </span>
      </div>
      <div class="flex justify-between font-light mb-2">
        keyboard x 1
        <span class="font-bold">
          {{ '150' | currency }}
        </span>
      </div>
      <div class="flex justify-between py-3 font-light">
        Total:
        <span class="font-bold">{{ '450' | currency }}</span>
      </div>
      <div class="pt-3 flex justify-between py-3 font-light">
        <button class="bg-rose-500 text-white rounded-full w-8 h-8">
          <mat-icon class="mat-18">remove_shopping_cart</mat-icon>
        </button>
        <button class="bg-green-500 text-white rounded-full w-8 h-8">
          <mat-icon class="mat-18">remove_shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
